<!-- cart without contents -->
<div class="container">
    <div class="row text-center">
        <div class="col m-5">
            <img src="http://hsnbazar.com/images/empty-cart.png" alt="Your cart is empty"> <br>
            <button routerLink="/" class="btn btn-outline-primary block">Shop Now</button>
        </div>
    </div>
</div>

<!-- cart with contents -->
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table border m-5 border-dark">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>description</th>
                        <th>Action</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>100</td>
                        <td>T-shirt</td>
                        <td><img src="https://international.iitkgp.ac.in/static/website/img/BrandStore/Product%20Detail/Navy%20Blue_Pre_M1.jpg" style="width: 40px; height: 50px;" /></td>
                        <td>kuegf asf aowr alwnkd alsn asf f ea saf ar ea lnjjnnnnnnn lan alsnda lasn asnjnsa alnsda ljjan j lojnl jbl lnk ;km po;jhi uouig j ouh ljb ikniknl</td>
                        <td><i class="fa fa-trash text-danger"></i></td>
                        <td>500</td>
                    </tr>
                </tbody>
            </table>

            <div style="float:right">
                <button class="btn btn-danger m-2">Empty cart</button>
                <button class="btn btn-primary m-2">Shop more</button>
                <button class="btn btn-success m-2">Check out</button>
            </div>

        </div>
    </div>
</div>